<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h2>Sign Up</h2>
    <div>
        <form method="POST" action="/user/signup">
            <label for="">Name</label>
            <input name="name" type="text" required>
            <label for="">Email</label>
            <input name="email" type="email" required>
            <label for="">Password</label>
            <input name="password" type="text" required>
            <button type="submit">Signup</button>
        </form>
    </div>
</body>
</html>